@keyframes path {
    from {
        background-color: rgba(240, 137, 69, 0.932);
        transform: scale(1.3);
        box-shadow: 2px;
    }
    to {
        background-color: antiquewhite;
    }
}

@keyframes visited {
    0% {
        background-color: rgb(36, 123, 194);
        box-shadow: 1px;
    }
    50% {
        background-color: rgb(94, 144, 185);

    }
    100% {
        background-color: rgb(151, 185, 211);
    }
}


.node {
    width: 40px;
    height: 40px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 1px;

}

.node-start {
    background-color: paleturquoise;
}

.node-end {
    background-color: red;
}

.node-wall {
    background-color:  #313131e3 ;
    transition: 2s;
    transition-timing-function: ease-in-out;
}

.node-shortest-path {
    background-color: antiquewhite;
    animation-name: path;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.node-visited {
    background-color: rgb(128, 166, 197);
    animation-name: visited;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}